label{
  display: block;
}
.form-line{
  margin-bottom: 25px;
}
.todo-form{
  width: fit-content;
  border: 2px black solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.priority-btn{
  background-color: rgb(9, 175, 9);
}
.todo-form-container{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.primary-btn-position{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

